<MAdaptor>
    <MObject>
        <class>com.septemberhx.mclient.MMainBusiness</class>
        <field>
            <name>user</name>
            <class>com.septemberhx.mclient.MResourceUser</class>
        </field>
        <field>
            <name>addF</name>
            <class>com.septemberhx.mclient.MFunctionAdd</class>
        </field>
    </MObject>
</MAdaptor>