<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="log_console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%m%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.septemberhx.agent" level="INFO">
<!--            <AppenderRef ref="log_console" />-->
        </Logger>
    </Loggers>
</Configuration>